<!-start->
<link href="css/shoptwoclass_diy.css" rel="stylesheet" type="text/css" />

<div class="shoptwoclass_diy">
<!-start->

<!-menu->
	<div class="shoptwoclass_top"><a href="{#toplink#}" target="{#target#}" >{#cat#}</a> ({#topcount#})</div>
	<ul>
		{#sublinkstr#}
	</ul>
	
	<hr style="height:1px; border:0px; border-top:1px #bebebe dashed; margin:0px; overflow:hidden; clear:both;" />
<!-menu->

<!-list->
		<li><a href="{#slink#}" target="{#target#}">{#scat#}</a></li>
<!-list->

<!-end-> 
</div>
<!-end-> 