<!-start->
<div style="height:22px;">
	<div style="float:left;height:22px;background:url(images/gou.gif) 10px no-repeat;padding-left:35px;">
	您的购物车中有（<span style="color:#c7076e;font:bold 12px/22px Verdana, Arial, Helvetica, sans-serif;">{#tacc#}</span>）件商品
	 <span style="background:url(images/smallcart2.gif) no-repeat;padding-left:25px;"><a href="{#CP#}cart.php" style="color:#bc016a;font:12px/22px Verdana, Arial; text-decoration:underline;">查看购物车</a></span>
	</div>
</div>

<!-start->

<!-end->
<!-end->