<!-start->
<div style="width:100%;height:34px;line-height:34px;color:#f4f4f4;font:12px/34px Arial, Helvetica, sans-serif;text-align:center;">
	<span>{#user#}，您好&nbsp;&nbsp;&nbsp;&nbsp;<a href="{#RP#}member/index.php" style="color:#f4f4f4;font:12px/34px Arial, Helvetica, sans-serif;text-decoration:underline;">会员中心</a></span>
</div>
<!-start->

<!-end->
<div style="width:100%;height:34px;line-height:34px;color:#f4f4f4;font:12px/34px Arial, Helvetica, sans-serif;text-align:center;">
	<span>您好，请&nbsp;<a href="{#RP#}member/login.php" style="color:#f4f4f4;font:12px/34px Arial, Helvetica, sans-serif;text-decoration:underline;">登录</a>&nbsp;或&nbsp;&nbsp;</span>
	<span style="background:url(images/li_zc.jpg) no-repeat;padding-left:20px;"><a href="{#RP#}member/reg.php" style="color:#f4f4f4;font:12px/34px Arial, Helvetica, sans-serif;text-decoration:underline;">免费注册</a></span>
</div>
<!-end->